<div class="node" (mouseover)="showButtons()" (mouseleave)="hideButtons()" >
	<div class="node-content" >
		<span (click)="onInputClick()" *ngIf="!editing" class="node-text">
			{{node.text}}
		</span>
		<input *ngIf="editing" (keyup.enter)="onInputEnter()" (blur)="onInputBlur()" type="text" id="text" required [(ngModel)]="edited_text" >
	</div>
	<div *ngIf="show_buttons && !editing" class="node-buttons">
		<div class="node-buttons-block">
			<i (click)="add()" class="fa fa-fw fa-plus node-button" aria-hidden="true"></i>
			<i *ngIf="node.parent" (click)="addBefore()" class="fa fa-fw fa-long-arrow-up node-button" aria-hidden="true"></i>
			<i *ngIf="node.parent" (click)="addAfter()" class="fa fa-fw fa-long-arrow-down node-button" aria-hidden="true"></i>
			<i *ngIf="node.parent" (click)="remove()" class="fa fa-fw fa-trash node-button" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div class="subnodes" >
	<mind-map-node *ngFor="let subnode of node.subNodes" [node]="subnode"></mind-map-node>
</div>